<%- include ('../partials/header') -%>


<div class="w3-container w3-light-grey" style="padding:100px 16px" id="contact">
  <h3 class="w3-center">Create an account</h3>
  <p class="w3-center w3-large">Give your details here and lets go</p>
  <div style="margin-top:48px">
   <!-- show any messages that come back with authentication -->
  
    <br>
    <form accept-charset="UTF-8" action="/add" method="post" >
      
      <p><input class="w3-input w3-border" type="text" placeholder="<%= user.username %>"  name="username"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Review" required name="review"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Event Name" required name="eventName"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Image" required name="image"></p>
      <p>
        <button class="w3-button w3-black" type="submit">
          <i class="fa fa-paper-plane"></i> Register
        </button>
      </p>
    </form>
    
  </div>
</div>






<div class="row">
  <h1>Welcome to the add products page  <br>
  <div class="grid-container">
        
            <form accept-charset="UTF-8" action="/add" method="post">    
                <div class="item">
                  <label for="name">Name</label>
                    <input name="name" type="text" placeholder="Enter name" />
                  
                  
                  <label for="price">Price</label>
                    <input name="price" type="text" placeholder="Enter Price" />
                    
                   
                   <label for="image">Image URL</label> 
                    <input name="image" type="text" placeholder="Enter Image URL" />
                    
                   
                   <label for="activity">Activity</label> 
                    <input name="activity" type="text" placeholder="Enter Activity" />
                    
                    <button class="button">Edit Product</button>
                    </div>
              </form>
      
         
         
    </div>
  </h1>
</div>


<label for="sport">Sport:</label>







<%- include ('../partials/footer') -%>